<div class="container mt-2 pt-5">
  <h1 class="display-3 mt-5">Tickets</h1>
  <!-- Button trigger modal -->
  <div class="d-flex justify-content-between m-2">
    <%= link_to new_ticket_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } do %>
      <i class="bi bi-plus"></i> <span>Ticket</span>
    <% end %>

    <%= button_to 'Download', download_tickets_path(format: :csv), method: :post, class: 'btn btn-success' %>
  </div>

  <!-- Search form -->
  <%= render 'tickets/shared/search' %>
  <div class="table-responsive">
    <table class="table table-md table-hover">
      <thead>
        <%= render '/tickets/shared/header' %>
      </thead>

      <%= turbo_stream_from "tickets_user_#{current_user.id}" %>
      
      <tbody id="tickets_user_<%= current_user.id %>" class="table-group-divider">
          <%= render @tickets %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" id="import">
            <%= render 'import' %>
          </td>
        </tr>
      </tfoot>
    </table>
    <%= render 'pager', pagy: @pagy %>
  </div>
</div>
