<!DOCTYPE html>
<html>
  <head>
    <title>TicketApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>
    <%= turbo_frame_tag "remote_modal" %>
    <%= turbo_frame_tag "ticket_modal" %>
    <div class="container">
      <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <%= turbo_frame_tag :flash_messages, target: '_top' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
